mkdocs 
pymdown-extensions
mkdocstrings 
mkdocs-material 
mkdocs-gen-files 
mkdocs-literate-nav 
mkdocs-section-index 
mkdocstrings-python 
mkdocs-encryptcontent-plugin 
mknotebooks 
mkdocs-jupyter
black 
xarray 
-e ../packages/utils
-e ../packages/data
-e ../packages/training
-e ../packages/pipeline
-e ../packages/tutorial
